<div class="p-grid">
    <div class="p-xl-8 p-lg-8 p-md-10 p-sm-10 p-xl-offset-2 p-lg-offset-2 p-sm-offset-1 p-md-offset-1">


        <p-panel header="Cambio de password">

            <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
                <div
                class="ui-grid ui-grid-pad ui-fluid"
                style="margin: 10px 0px" 
              >
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12"><b>Password:</b></div>
                  </div>      
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-8 ">
                        <div class="ui-inputgroup">
                            <input pPassword [showPassword]="mostrarPass" type="password" formControlName="password" placeholder=""/>
                            <button pButton type="button" icon="pi pi-eye" class="ui-button-warn" *ngIf="mostrarPass"
                                (click)="mostrarPass=!mostrarPass"></button>
                            <button pButton type="button" icon="pi pi-eye-slash" class="ui-button-warn" *ngIf="!mostrarPass"
                                (click)="mostrarPass=!mostrarPass"></button>
                        </div>
                        
                    </div>
                    <div class="ui-grid-col-4">
                      <p-message
                        severity="error"
                        [text]="
                          userform.controls['password'].errors['required']
                            ? 'Password is required'
                            : userform.controls['password'].errors['minlength']
                            ? 'tiene que ser mayor a 6 caracteres'
                            : ''
                        "
                        *ngIf="
                          !userform.controls['password'].valid &&
                          userform.controls['password'].dirty
                        "
                      ></p-message>
                    </div>
                  </div>
            
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-12"><b>Repetir Password:</b></div>
                  </div>      
                  <div class="ui-grid-row">
            
                    <div class="ui-grid-col-8">
                        <div class="ui-inputgroup">

                      <input [feedback]="false" pPassword [showPassword]="mostrarPassRepe" type="password" formControlName="passwordRepetir" placeholder=""/>
                      <button pButton type="button" icon="pi pi-eye" class="ui-button-warn" *ngIf="mostrarPassRepe"
                                (click)="mostrarPassRepe=!mostrarPassRepe"></button>
                            <button pButton type="button" icon="pi pi-eye-slash" class="ui-button-warn" *ngIf="!mostrarPassRepe"
                                (click)="mostrarPassRepe=!mostrarPassRepe"></button>
                    </div>
                </div>
                    <div class="ui-grid-col-4">
                      <p-message
                        severity="error"
                        text="Las constrasenias no coinciden"
                        *ngIf="
                          !userform.controls['passwordRepetir'].valid &&
                          userform.controls['passwordRepetir'].dirty             "
                      ></p-message>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-6">
                        <button
                        pButton
                        type="submit"
                        label="Submit"
                        [disabled]="!userform.valid"
                        *ngIf="!loading"
                        ></button>
                        
                        <button
                        pButton
                        type="submit"
                        label="Submit"
                        disabled
                        *ngIf="loading"
                        ></button>
                    </div>
                </div>
            </div>

            </form>

        </p-panel>
    </div>
</div>