<nav class="navbar border border-white rounded navbar-light" style="background-color: #F6F3E7;">
  <a class="navbar-brand" href="#">
    <img src="./assets/img/logozorzal3.png" width="40" height="30" alt="" />
    Zorzal-Betha
  </a>
</nav>

<nav
  class="navbar bg-primary border navbar-dark border-secondary rounded navbar-expand-lg"
  >
  
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/inicio']"  [routerLinkActive]="['active']">Inicio</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"   [routerLinkActive]="['active']" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Torneo</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown5" >
            <div *ngIf="loginService.isDocente()">
              <a  class="dropdown-item" [routerLink]="['crear-torneo','nuevo']">
                Nuevo torneo
              </a>
              <div class="dropdown-divider"></div>
            </div>
              <a class="dropdown-item" [routerLink]="['/torneos']" >Torneos</a>
          </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Ayuda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="loginService.isLogin()" [routerLink]="['/stubs']"  [routerLinkActive]="['active']">Stubs</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" *ngIf="loginService.isAdmin()" [routerLink]="['/usuarios']"  [routerLinkActive]="['active']">Usuarios</a>
      </li>



      <li class="nav-item">
        <a class="nav-link" *ngIf="loginService.isAdmin()" [routerLink]="['/problemas']"  [routerLinkActive]="['active']">Problemas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/about']"  [routerLinkActive]="['active']">Acerca De</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacto</a>
      </li>
      
      <li *ngIf="!loginService.isLogin()" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Usuario</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <a class="dropdown-item" (click)="mostrarLogin()">Login</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/crear-usuario','nuevo']" >Nuevo usuario</a>
        </div>
      </li>

      <li *ngIf="loginService.isLogin()" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuario
        </a>
          <div  class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="loginService.logout()" >Logout</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Perfil</a>
          </div>
      </li>

    </ul>
  </div>
</nav>


  <app-login [display]="loginService.mostrarLogin()" (displayChange)="cerrarDisplay($event)"></app-login>
