

::ng-deep .p-menubar .p-menuitem-link {
    border-radius: 16px;
}
::ng-deep .p-menubar .p-submenu-list {
    border-radius: 16px;
}

::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:focus {
    border-radius: 16px;
}
::ng-deep .p-menubar .p-menuitem.p-menuitem-active>.p-menuitem-link {
    border-radius: 16px;
}

::ng-deep .p-menubar .p-menuitem.p-menuitem-active>.p-menuitem-link:focus {
    border-radius: 16px;
}

::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-text {
    color: white;
}

::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-icon {
    color: white;
}

 @media screen and (max-width: 960px){

    ::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-text {
        color: var(--text-color);
    }
    ::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-icon {
        color: var(--text-color);
    }
}
