
<div  class="animated fadeIn">

<p-dataView #dv filterBy="lenguaje.lenguaje" [value]="stubs" [paginator]="true" [rows]="5" paginatorPosition="both">
    
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-6 ui-md-4 filter-container">
                    <div style="position:relative">
                        <input type="search" pInputText placeholder="Buscar por nombre" (input)="dv.filter($event.target.value)">
                    </div>
                </div>
    
            </div>
        </div>
    </p-header>
    
    <ng-template let-stub pTemplate="listItem">
        <div class="ui-g-12 ">
            <div class="car-details">
              <div class="ui-g">
                <div class="ui-g-12"><b>Lenguaje:</b> {{stub.lenguaje.lenguaje}}</div>
                <div class="ui-g-12"><b>Descripcion:</b> {{stub.descripcion}}</div>
                <div class="ui-g-12"><b>Archivo: </b> <button class="btn btn-link p-0" (click)="download(stub.archivo)">Descargar</button></div>
             </div>
        </div>
    </div>
    </ng-template>
    
</p-dataView>
</div>