<p-toast [style]="{ marginTop: '80px' }"></p-toast>

<p-panel styleClass="shadow-8" [header]="valorHeader">
    <form
        [formGroup]="userform"
        (ngSubmit)="onSubmit(userform.value)"
    >
        <div class="formgrid grid">
            <div class="field col-12 md:col-6">
                <label for="intitucion" class="block">Institución</label>
                <input
                    pInputText
                    class="w-full"
                    type="text"
                    placeholder="Institucion, escuela u otras"
                    formControlName="institucion"
                />
                <small
                    *ngIf="
                        !userform.controls['institucion'].valid &&
                        userform.controls['institucion'].dirty
                    "
                    id="lenguaje-error"
                    class="p-error block"
                    >{{ mensajesError.institucion }}</small
                >
            </div>

            <div class="field col-12 md:col-6">
                <label for="username" class="block">Nombre de usuario:</label>
                <input
                    pInputText
                    class="w-full"
                    type="text"
                    formControlName="nombreUsuario"
                    placeholder=""
                />
                <small
                    *ngIf="mostrarMensajeErrorNombreUsuario()"
                    id="lenguaje-error"
                    class="p-error block"
                    >{{ mensajesError.nombreUsuario }}</small
                >
            </div>

            <div class="field col-12 md:col-6">
                <label for="email" class="block">Email:</label>
                <input
                    pInputText
                    class="w-full"
                    type="text"
                    formControlName="email"
                    placeholder="Email"
                />
                <small
                    *ngIf="mostrarMensajeErrorEmail()"
                    id="email-error"
                    class="p-error block"
                    >{{ mensajesError.email }}</small
                >
            </div>

            <div *ngIf="!editando" class="field col-12 md:col-6">
                <label for="password" class="block">Contraseña:</label>
                <input
                    pInputText
                    class="w-full"
                    type="password"
                    formControlName="password"
                />
                <small
                    *ngIf="mostrarPasswordErrorEmail()"
                    id="contrasenia-error"
                    class="p-error block"
                    >{{ mensajesError.password }}</small
                >
            </div>

            <div *ngIf="!editando" class="field col-12 md:col-6">
                <label for="password-repeat" class="block"
                    >Repetir contraseña:</label
                >
                <input
                    pInputText
                    class="w-full"
                    type="password"
                    formControlName="passwordRepetir"
                />
                <small
                    *ngIf="
                        !userform.controls['passwordRepetir'].valid &&
                        userform.controls['passwordRepetir'].dirty
                    "
                    id="contrasenia-error"
                    class="p-error block"
                    >{{ mensajesError.passwordRepetir }}</small
                >
            </div>

            <div class="field col-12 lg:col-3 xl:col-3 md:col-3">
                <label for="lenguaje" class="block">Lenguaje:</label>
                <p-dropdown
                    class="w-full"
                    [options]="lenguajes"
                    formControlName="lenguajes"
                ></p-dropdown>
                <small
                    *ngIf="
                        userform.controls['lenguajes'].errors &&
                        userform.controls['lenguajes'].touched
                    "
                    id="lenguaje-error"
                    class="p-error block"
                    >{{ mensajesError.lenguaje }}</small
                >
            </div>
            <div class="field col-12 lg:col-3 xl:col-3 md:col-3">
                <label for="roles" class="block">Rol:</label>
                <p-dropdown
                    [options]="roles"
                    formControlName="roles"
                ></p-dropdown>
                <small
                    *ngIf="
                        !userform.controls['roles'].valid &&
                        userform.controls['roles'].touched
                    "
                    id="rol-error"
                    class="p-error block"
                    >{{ mensajesError.rol }}</small
                >
            </div>
        </div>

        <div class="grid">
            <div class="col-5 md:col-5 lg:col-5 xl:col-5">
                <button
                    pButton
                    type="submit"
                    label="Submit"
                    [disabled]="!userform.valid || loading"
                    *ngIf="!loading"
                >
                    <i
                        *ngIf="loading"
                        class="pi pi-spin pi-spinner"
                        style="font-size: 3em"
                    ></i>
                </button>
            </div>
        </div>
    </form>
</p-panel>
