<p-toast [style]="{ marginTop: '80px' }"></p-toast>

<form
    [formGroup]="stubForm"
    (ngSubmit)="onSubmit(stubForm.value)"
    class="shadow"
>
    <p-panel [header]="valorHeader" styleClass="col-6 col-offset-3">
        <div class="col-offset-3" style="margin: 10px 0px">
            <div class="grid">
                <div class="col-6">
                    <div class="field">
                        <label for="username2" class="block">Lenguaje</label>
                        <p-autoComplete
                            formControlName="lenguaje"
                            class="w-full"
                            [suggestions]="lenguajesMostrados"
                            (completeMethod)="search($event)"
                            [size]="30"
                            [minLength]="1"
                        ></p-autoComplete>
                        <small
                            *ngIf="
                                !stubForm.controls['lenguaje'].valid &&
                                stubForm.controls['lenguaje'].dirty
                            "
                            id="lenguaje-error"
                            class="p-error block"
                            >El lenguaje del stub es requerido</small
                        >
                    </div>
                </div>
            </div>

            <div class="grid">
                <div class="col-6">
                    <div class="field">
                        <label for="username2" class="block">Descripcion</label>
                        <textarea
                            class="w-full"
                            rows="3"
                            formControlName="descripcion"
                        >
                        </textarea>
                        <small
                            *ngIf="
                                !stubForm.controls['descripcion'].valid &&
                                stubForm.controls['descripcion'].dirty
                            "
                            id="descripcion-error"
                            class="p-error block"
                            >La descripcion es obligatoria</small
                        >
                    </div>
                </div>
            </div>

            <div class="grid">
                <div class="col-6">
                    <div class="field">
                        <label for="archivo" class="block">Archivo</label>
                        <input
                            pInputText
                            (change)="myUploader($event)"
                            class="form-control"
                            type="file"
                            name="file"
                            value="archivoNombre"
                        />
                        <small
                            *ngIf="
                                !stubForm.controls['archivo'].valid &&
                                stubForm.controls['archivo'].dirty
                            "
                            id="descripcion-error"
                            class="p-error block"
                            >El Archivo es obligatorio</small
                        >
                    </div>

                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <button
                        pButton
                        type="submit"
                        label="Submit"
                        *ngIf="!loading"
                    ></button>

                    <button
                        class="btn btn-primary"
                        type="submit"
                        label="Submit"
                        disabled
                        *ngIf="loading"
                    >
                        <i
                            class="pi pi-spin pi-spinner"
                            style="font-size: 1.5em"
                        >
                        </i>
                    </button>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>
        </div>
    </p-panel>
</form>
