<div  class="animated fadeIn">

<i class="pi pi-spin pi-spinner" style="font-size: 3em" *ngIf="!torneo"></i>
<div *ngIf="torneo">

    <h3>Torneo: {{torneo.Nombre}}</h3>

    <b>Token: </b>
    <h1>Participantes</h1>
    <p-table [value]="torneo.torneousuarios">
        <ng-template pTemplate="header">
            <tr>
                <th>Posición</th>
                <th>Institución</th>
                <th>Equipo</th>
                <th>Lenguaje</th>
                <th>Puntos</th>
                <th>Ultima respuesta</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario  let-i="rowIndex">
            <tr>
                <td>{{i}}</td>
                <td>{{usuario.idUsuario.Institucion}}</td>
                <td>{{usuario.idUsuario.NombreUsuario}}</td>
                <td>{{usuario.idUsuario.idLenguaje.Lenguaje}}</td>
                <td>{{usuario.Puntos}}</td>
                <td>tiempo</td>

            </tr>
        </ng-template>
    </p-table>

    <h1>Problemas</h1>
    <p-table [value]="torneo.torneoproblemas">
        <ng-template pTemplate="header">
            <tr>
                <th>Orden</th>
                <th>Problema</th>
                <th>Tiempo Max (ms)</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-problema let-i="rowIndex">
            <tr>
                <td>{{i}}</td>
                <td>{{problema.idProblema.Nombre}}</td>
                <td>{{problema.idProblema.TiempoEjecucionMax}}</td>

            </tr>
        </ng-template>
    </p-table>

</div>
</div>