
<form [formGroup]="torneoform" (keydown.enter)="handleKeyEnter($event)" (ngSubmit)="onSubmit(torneoform.value)" class="">
  <p-panel  >
    <p-header>
      <b>    
        Nuevo Torneo
      </b> 
    </p-header>
    <div
      class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid"
      style="margin: 10px 0px"
    >

    <div class="ui-grid-row">
      <div class="ui-grid-col-6">
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <p-message severity="error" text="El nombre de la institucion es requerido" *ngIf="!torneoform.controls['nombre'].valid && torneoform.controls['nombre'].dirty"></p-message>
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
           <span><b>Nombre:</b></span>
           <input pInputText type="text" formControlName="nombre" placeholder=""/>
         </div>

        </div>

        <div class="ui-grid-row mt-1">
          <div class="ui-grid-col-12">
            <p-message
            severity="error"
            text= "La descripcion es obligatoria"
            *ngIf="!torneoform.controls['descripcion'].valid && torneoform.controls['descripcion'].dirty"
            ></p-message>
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <span><b>Descripcion:</b></span>
            <textarea pInputTextarea rows="5" cols="30" type="text" formControlName="descripcion"></textarea>
        </div>
        </div>

        <div class="ui-grid-row mt-1">
          <div class="ui-grid-col-6">
            <div class="ui-grid-row">
              <div class="ui-grid-col-12">
  
            <p-message
                severity="error"
                [text]= "torneoform.controls['fechaInicio'].errors['required'] ? 
                          'La fecha de inicio es obligatoria' :
                          torneoform.controls['fechaInicio'].errors['fechaMenor'] ?
                          'La fecha de inicio debe ser menor a la fecha de fin' :''"

                *ngIf="!torneoform.controls['fechaInicio'].valid && 
                        torneoform.controls['fechaInicio'].dirty"
          ></p-message>
        </div>
      </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">

              <span><b>Fecha Inicio:</b></span>
              <p-calendar [showTime]="true" [showIcon]="true" [locale]="es" dateFormat="dd/mm/yy" formControlName="fechaInicio"></p-calendar>
            </div>
  
          </div>
          </div>
          <div class="ui-grid-col-6">
            <div class="ui-grid-col-12">
              <div class="ui-grid-row">
            <p-message
              severity="error"
              [text]= "torneoform.controls['fechaFin'].errors['required'] ? 
                      'La fecha de fin es obligatoria' :
                      torneoform.controls['fechaFin'].errors['fechaMenor'] ?
                      'La fecha de inicio debe ser menor a la fecha de fin' :''"
              *ngIf="!torneoform.controls['fechaFin'].valid && 
                      torneoform.controls['fechaFin'].dirty"
          ></p-message>
          </div>
          </div>
          <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <span><b>Fecha Fin:</b></span>

            <p-calendar [showTime]="true" [showIcon]="true" [locale]="es"  dateFormat="dd/mm/yy" formControlName="fechaFin"></p-calendar>

            </div>
          </div>
        </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <div class="ui-grid-row">
              <div class="ui-grid-col-12">
                <p-message
                  severity="error"
                  text= "El tipo de torneo es obligatorio"
                  *ngIf="!torneoform.controls['tipoTorneo'].valid && 
                          torneoform.controls['tipoTorneo'].dirty"
                ></p-message>
        </div>
      </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">

              <span><b>Tipo de torneo:</b></span>
              <p-dropdown  [options]="tiposTorneo" formControlName="tipoTorneo"></p-dropdown>
            </div>
  
          </div>
          </div>
          <div class="ui-grid-col-6">
            <div class="ui-grid-col-12">
              <div class="ui-grid-row">
                <p-message
                  severity="error"
                  text= "El estado es obligatorio"
                  *ngIf="!torneoform.controls['estado'].valid && 
                          torneoform.controls['estado'].dirty"
                ></p-message>
          </div>
          </div>
          <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <span><b>Estado del torneo:</b></span>
            <p-dropdown [options]="estadosTorneo" formControlName="estado"></p-dropdown>
          </div>
          </div>
        </div>
        </div>

        <div class="ui-grid-row mt-3">
          <div class="ui-grid-col-12">
            <button
            pButton
            icon="pi pi-check"
            type="submit"
            label="Submit"
            [disabled]="!torneoform.valid"
            *ngIf="!loading"
            ></button>
            
            <button
            pButton
            type="submit"
            icon="pi pi-spin pi-spinner"
            disabled
            label="submit"
            *ngIf="loading">
          </button>
          </div>
        </div>

      </div>

      <div class="ui-grid-col-6">
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <span><b>Problemas:</b></span>
              <app-agregar-problema [problemasTorneo]="problemas" (problemaSeleccionado)=agregarProblemas($event)></app-agregar-problema>
      </div>
      </div>
    </div>

    </div>
  
    
</div>
</p-panel>
</form>

