
    <p-dialog header="Login" class="mydialog" [modal]="true" [(visible)]="display" (onShow)="onShow()" (onHide)="onHide()">

        <p-card  styleClass="shadow-8 pt-1">
            <ng-template pTemplate="header">

                <div class="grid">
                    <div class="col-1">

                        <button pButton  *ngIf="recuperarContrasenia" (click)="recuperarContrasenia=false" pRipple type="button" icon="pi pi-angle-left" class="p-button-rounded p-button-text"></button>
                    </div>

                    <img class="border-round col-5 col-offset-3" [style]="{height: '110px',width: '110px'}" src="./assets/img/fai.png">
                </div>
            </ng-template>

            <form action="submit" *ngIf="!recuperarContrasenia" >

                <div class="grid">
                    <div class="col field">
                                <p *ngIf="error" class="block text-red-600" >Error en contrasenia o usuario</p>

                                <label for="username" class="block">Usuario</label>
                                <input id="float-input-username" [(ngModel)]="usuario" placeholder="usuario" size="30" name="username"
                                    type="text" pInputText>
                                <button pButton type="button" disabled icon="pi pi-user" class="ui-button-warn"></button>
                    </div>
                </div>
                <div class="grid">
                    <div class="col field">
                            <label for="password" class="block">contraseña</label>
                                <input id="float-input-password" size="30" name="pwd" [(ngModel)]="pass" type="password"
                                    pPassword [feedback]="false" [showPassword]="mostrar">

                            <button pButton type="button" icon="pi pi-eye" class="ui-button-warn" *ngIf="mostrar"
                                (click)="mostrar=!mostrar"></button>
                            <button pButton type="button" icon="pi pi-eye-slash" class="ui-button-warn" *ngIf="!mostrar"
                                (click)="mostrar=!mostrar"></button>
                    </div>
                </div>

                <div class="grid col field">

                    <button *ngIf="!loading" pButton type="submit" name="Submit" class="p-button-sm" label="Login"
                        (click)="conectar()" icon="pi pi-check"></button>

                        <button pButton type="submit" icon="pi pi-spin pi-spinner" class="p-button-sm" disabled label="Recuperar"
                        *ngIf="loading">
                    </button>

                </div>
                <div class="grid col mt-1">
                    <a href="#" (click)="recuperarContraseniaClick()">¿Te olvidaste la contraseña?</a>
                </div>
                <div class="grid col mt-1">
                    <a [routerLink]="['/crear-usuario','nuevo']" (click)="display=false">¿Eres nuevo?</a>
                </div>


            </form>

            <form action="" *ngIf="recuperarContrasenia">

                    <div class="grid">
                        <div class="col">
                            <div class="field">
                                    <label for="username" class="block">Email</label>
                                    <input id="float-input-username" [(ngModel)]="email" placeholder="email" size="30" name="username"
                                        type="text" pInputText>
                                    <button pButton type="button" disabled icon="pi pi-user" class="ui-button-warn"></button>
                            </div>
                        </div>
                    </div>

                    <div class="grid col">
                        <button *ngIf="!loading" pButton type="submit" name="Submit" class="p-button-sm" label="Recuperar"
                            (click)="recuperarPassword()" icon="pi pi-check">
                        </button>
                        <button pButton type="submit" icon="pi pi-spin pi-spinner" class="p-button-sm" disabled label="Recuperar"
                            *ngIf="loading">
                        </button>
                    </div>

            </form>


        </p-card>

    </p-dialog>

