

::ng-deep .p-dialog .p-dialog-content {
    padding: 0.5em;
    margin-bottom: 0;
}
::ng-deep .p-dialog .p-dialog-header {
    padding: 0.5em;
}


::ng-deep .p-card .p-card-content {
    padding: 0rem;
}
