
<div *ngIf="penalidad > 0" class="p-grid">
	<app-reloj etiqueta="Debe esperar" (tiempoCero)="tiempoCero()" [tiempo]="penalidad"></app-reloj>
</div>

<div *ngIf="tiempoFinalizacion >= 0" class="">
    <app-reloj etiqueta="El torneo finaliza en" (tiempoCero)="tiempoFinalizacion=-1" [tiempo]="tiempoFinalizacion"></app-reloj>
</div>

<i class="pi pi-search" (mouseenter)="verPosicion($event)" style="font-size:24px">Posicion</i>


<div class="p-grid">
    <div class="p-col" *ngIf="torneo">
        <p-dropdown [options]="torneo.torneosProblemas" [(ngModel)]="selectedProblem" placeholder="Seleccionar problema" optionLabel="problema.nombre" [showClear]="true"></p-dropdown>
    </div>
        
    <div *ngIf="selectedProblem" class="p-col">
        {{selectedProblem.problema.enunciado}}
    </div>
    
    <div  *ngIf="selectedProblem" class="p-col" >
        <div *ngIf="selectedProblem.problema.archivo">
                <img id="imgid" src="{{environment.url}}/problemas/{{selectedProblem.problema.archivo}}" width="100" height="100" >
        </div>
    </div>        
</div>
<div class="p-grid">
    <div class="p-col">
        <div class="shadow mt-1">
            <p-menubar  [model]="itemsTab">
                <div class="p-grid">

                    <div   *ngFor="let usuarioConectado of usuariosConectados" class="p-col">
                            <a  class="badge" [pTooltip]="usuarioConectado.nombreUsuario"  tooltipPosition="bottom" [style.color]="cambiarColor(usuarioConectado.color)" [style.background]="usuarioConectado.color">
                                {{getfirstLeter(usuarioConectado.nombreUsuario)}}
                            </a>
                    </div>
                </div>
            </p-menubar >
        </div>
    </div>
</div>
<div class="p-grid">
    <div class="p-col">

        <div class="shadow ">
            
            <p-tabView >
                <p-tabPanel header="Bloques">
                    <ng-template pTemplate="content">
                        <app-blockly [token]="token" [cargarXml]="xmlNuevo" (mostrarJavascript)="mostrarJs($event)"></app-blockly>
                    </ng-template>
                    
                </p-tabPanel>
                <p-tabPanel header="Javascript">
                    <textarea *ngIf="codeJs" highlight-js [options]="{}" [lang]="'javascript'">
                        {{codeJs}}
                    </textarea>        
                    
                </p-tabPanel>
                <p-tabPanel header="Xml">
                    <textarea *ngIf="codeXml" highlight-js [options]="{}" [lang]="'xml'">
                        {{codeXml | xml}}
                    </textarea>   
                </p-tabPanel>
                

            </p-tabView>
            
        </div>
        
        </div>
    </div>
    

<p-sidebar [(visible)]="isVisibleChat" position="right" [baseZIndex]="10000">
    <h3 style="font-weight:normal">Chat</h3>
    <app-chat></app-chat>
</p-sidebar>

<p-dialog [responsive]="true" header="Cargar Codigo" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <p-scrollPanel [style]="{width: '100%', height: '300px'}" styleClass="custombar1">

        <app-codigo-usuario [codigos]="codigosUsuarios"></app-codigo-usuario>
    </p-scrollPanel>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="displayModal=false" label="Cargar"></button>
            <button type="button" pButton icon="pi pi-times" (click)="displayModal=false" label="Cancelar" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog>

<p-dialog header="Guardar Xml" [(visible)]="displayGuardar" [modal]="true" [responsive]="true">
    <span class="ui-float-label mt-2">
        <input id="float-input-username" [(ngModel)]="nombreCodigoAGuardar"  name="nombreCodigoAGuardar" type="text" pInputText> 
        <label for="float-input-username">Nombre</label>
    </span>
    <p-footer>
        <button type="button" class="ui-button-success" (click)="guardarXml()" pButton icon="pi pi-check" label="Guardar"></button>
    </p-footer>
</p-dialog>

<!--overlap element tabla de puntos -->

<p-overlayPanel #op [showCloseIcon]="true" [dismissable]="true">
    <ng-template pTemplate>
		<p-table [value]="torneo.torneosUsuarios" [responsive]="true" [style]="{width: '60vw'}"  [paginator]="true" [rows]="3">
			<ng-template pTemplate="header">
				<tr>
					<th class="header-table">Posición</th>
					<th class="header-table">Institución</th>
					<th class="header-table">Equipo</th>
					<th class="header-table">Puntos</th>
					<th class="header-table">Penalidad</th>
					<th class="header-table">Tiempo</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-torneoUsuario let-i="rowIndex">
				<div class="tabla-responsiva"><br /></div>
				<tr class="shadow">
					<td>
						<span class="ui-column-title">Posicion:</span>
						{{ i + 1 }}
					</td>
					<td>
						<span class="ui-column-title">Institucion:</span>
						{{ torneoUsuario.usuario.institucion }}
					</td>
					<td>
						<span class="ui-column-title">Nombre usuario:</span>
						{{ torneoUsuario.usuario.nombreUsuario }}
					</td>
					<td class="ui-column-title">
						<span class="ui-column-title">Puntos:</span>
						{{ torneoUsuario.puntos }}
					</td>
					<td class="ui-column-title">
						<span class="ui-column-title">Penalidad:</span>
						{{ torneoUsuario.penalidad }}
					</td>
					<td *ngIf="torneoUsuario.tiempo != 0" class="ui-column-title">
						<span  class="ui-column-title">Tiempo:</span>
						{{ torneoUsuario.tiempo | date:'short'}} 
					</td>

					<td *ngIf="torneoUsuario.tiempo == 0" class="ui-column-title">
						<span  class="ui-column-title">Tiempo:</span>
						0
					</td>

				</tr>
			</ng-template>
		</p-table>
    </ng-template>
</p-overlayPanel>