<p-dialog [header]="mensaje.header" [(visible)]="displayMensaje">
    {{ mensaje.datos }}
    <p-footer>
        <button
            type="button"
            pButton
            icon="pi pi-times"
            (click)="displayMensaje = false"
            label="Cerrar"
            class="p-button-info"
        ></button>
    </p-footer>
</p-dialog>

<div class="animated fadeIn">
    <div class="grid">
        <i
            class="pi pi-spin pi-spinner"
            style="font-size: 3em"
            *ngIf="!torneos"
        ></i>
        <button
            pButton
            type="button"
            *ngIf="!userTorneo && esDocente()"
            [routerLink]="['/crear-torneo', 'nuevo']"
            label="Nuevo torneo"
            class="p-button-raised p-button-primary mb-3"
        ></button>
    </div>

    <div class="grid">
        <p-dataView
            #dv
            [value]="torneos"
            [paginator]="true"
            [rows]="cantRows"
            paginatorPosition="both"
            filterBy="nombre"
            [sortField]="sortField"
            [sortOrder]="sortOrder"
            *ngIf="torneos"
            class="w-screen"

        >
            <ng-template pTemplate="header">
                <div class="flex flex-wrap">
                    <div class="flex">
                        <p-dropdown
                            [options]="opcionesActivo"
                            [(ngModel)]="sortKeyEstado"
                            placeholder="Filtar Estado por"
                            (onChange)="onFilterActivosChange($event)"
                            [style]="{ 'min-width': '140px' }"
                        ></p-dropdown>
                    </div>
                    <div class="flex md:ml-2">
                        <input
                            type="search"
                            [(ngModel)]="filtroNombre"
                            pInputText
                            placeholder="Buscar por nombre"
                            (input)="inputFilter($event.target.value)"
                        />
                    </div>
                </div>
            </ng-template>

            <ng-template let-torneo class="w-screen" pTemplate="listItem">
                <div class="col-12">
                    <div class="flex flex-wrap justify-content-between">
                        <div class="col-12 md:col-8">
                            <div class="grid grid-nogutter">
                                <div class="col-12">
                                    <p-button
                                        [routerLink]="[
                                            '/torneos',
                                            torneo.idTorneo
                                        ]"
                                        styleClass="p-button-link p-button-lg text-left pl-0 "
                                        >{{ torneo.nombre }}</p-button
                                    >
                                </div>
                            </div>

                            <div class="grid grid-nogutter">
                                <div class="col-8">
                                    <p>
                                        Descripcion:
                                        <b>{{ torneo.descripcion }}</b>
                                    </p>
                                </div>
                            </div>

                            <div class="grid grid-nogutter">
                                <div class="col-6 md:col-4">
                                    <p>
                                        Inicio:
                                        {{
                                            torneo.fechaInicio
                                                | date : "dd/LL/yy H:mm"
                                        }}
                                    </p>
                                </div>
                                <div class="col-6 md:col-4">
                                    <p>
                                        Fin:
                                        {{
                                            torneo.fechaFin
                                                | date : "dd/LL/yy H:mm"
                                        }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="flex align-items-center mb-3 ml-2 mr-0 md:ml-0 md:mr-8 md:mb-0 ">
                            <p-splitButton
                                #splitButtons
                                styleClass="w-auto"
                                [id]="torneo.idTorneo"
                                [tabindex]="torneo.idTorneo"
                                (onClick)="clickSplit($event, torneo.idTorneo)"
                                icon="pi pi-align-justify"
                                [model]="torneoMapItems[torneo.idTorneo]"
                            ></p-splitButton>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>

