
<div  class="animated fadeIn">

<div class="row pt-4">
    <div class="col-sm  align-self-center">
        <h1 >Bienvenidos !!!!!</h1>
        <h2>Al torneo de programacion Hornero</h2>
        <button type="button" class="btn btn-secondary">Empezar a jugar</button>
        <p class="pt-3">Se puede programar/competir con cualquier lenguaje" java, python, php, c, c++, pascal, javascript, c#, 
            ciao-prolog, perl, bash, lisp, ruby, smalltalk, PSeInt, ..... cualquier lenguaje.</p>
    
    </div>
    <div class="col-sm">
        <img src="/assets/img/prisma455.png" alt="">
    </div>
</div>

<!-- <hr>div class="row pt-4">
    <div class="col-sm">

        <p>Se puede programar/competir con cualquier lenguaje" java, python, php, c, c++, pascal, javascript, c#, 
            ciao-prolog, perl, bash, lisp, ruby, smalltalk, PSeInt, ..... cualquier lenguaje.</p>
    
    </div>
    <div class="col-sm">
      <img src="/assets/img/lenguajesremolino.jpg" alt="">
    </div>
</div-->
</div>