<div class="animated fadeIn">
    <button
        pButton
        type="button"
        [routerLink]="['/stub', 'nuevo']"
        label="Nuevo stub"
        class="ui-button-raised ui-button-success mb-3"
    ></button>


    <p-dataView
        #dv
        filterBy="lenguaje.lenguaje"
        [value]="stubs"
        [paginator]="true"
        [rows]="12"
        layout="grid"
    >
        <ng-template pTemplate="header">
            <div class="grid">
                <div class="col">
                    <input
                        type="search"
                        pInputText
                        placeholder="Buscar por nombre"
                        (input)="dv.filter($event.target.value)"
                    />
                </div>
            </div>
        </ng-template>

        <ng-template let-stub class="grid" pTemplate="gridItem">
            <div class="col-12 md:col-6 xl:col-4">
                <div
                    class="card shadow-8"
                >
                    <div class="grid">
                        <p-button
                            [routerLink]="['/stub', stub.idStubs]"
                            styleClass="col-12 p-button-link p-button-lg"
                            >{{ stub.lenguaje.lenguaje }}</p-button
                        >
                        <div class="col-12">
                            {{ stub.descripcion }}

                        </div>

                        <div class="col-12">
                            <button
                                (click)="download(stub.archivo)"
                                pButton
                                pRipple
                                type="button"
                                label="Descargar"
                                class="p-button-outlined"
                            ></button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>

