<h5>Tutorial de uso, creacion de usuario, torneos e inscripcion y competicion con bloques:
    <br>
    <a href="https://www.youtube.com/watch?v=gEci_6NPqLY"> https://www.youtube.com/watch?v=gEci_6NPqLY</a></h5>

<h5>
    Codigos fuente del sistema Zorzal:
</h5>
<h5>
    Repositorio cliente: 
</h5>
<p>  <a href="https://gitlab.com/walace47/hornero-cliente"> https://gitlab.com/walace47/hornero-cliente</a> </p>
<h5>Repositorio Servidor:</h5>
<p>  <a href="https://gitlab.com/walace47/hornero-api"> https://gitlab.com/walace47/hornero-api</a> </p>