
<div class="p-grid">
    <div class="p-xl-6 p-lg-6 p-md-12 p-sm-12">
        <div class="custom-file">
            <input  (change)="cargarCSV($event)" type="file" class="custom-file-input" id="customFile">
            <label  class="custom-file-label" for="customFile">{{nombreArchivo}}</label>
          </div>
    </div>

    <div class="p-col-12">


<p-table [value]="soluciones">
    <ng-template pTemplate="header">
        <tr>
            <th>Parametros Entrada</th>
            <th>Salida</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-solucion>
        <tr>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" (ngModelChange)="emitirSoluciones()" [(ngModel)]="solucion.parametrosEntrada">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{solucion.parametrosEntrada}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" (ngModelChange)="emitirSoluciones()" [(ngModel)]="solucion.salida" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{solucion.salida}}
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
    </ng-template>
</p-table>

</div>
</div>


<div class="p-grid">
    <div class="p-xl-2 p-lg-3 p-md-12 p-sm-12">

        <button pButton type="button" (click)="agregarSolucion()" class="mt-1 ui-button-success" icon="pi pi-plus" label="Agregar Solucion"></button>
    </div>
</div>

<div class="p-grid">
    <div class="p-xl-2 p-lg-3 p-md-12 p-sm-12">

        <button pButton  *ngIf="!modoEdicion" type="button" (click)="eliminarUltimaCelda()" class="mt-1 ui-button-danger" icon="pi pi-minus" label="Eliminar ultima celda"></button>
    </div>
</div>



