<div class="animated fadeIn">
    <button
        pButton
        type="button"
        #dt2
        label="Nuevo problema"
        [routerLink]="['/crear-problema', 'nuevo']"
        class="p-button-raised p-button-primary mb-3"
    ></button>

    <div class="mt-2">
        <p-table
            [paginator]="true"
            [rows]="10"
            [responsive]="true"
            [value]="problemasFilter"
        >
            <ng-template pTemplate="colgroup" let-columns>
                <col span="1" style="width: 10%" />
                <col span="1" style="width: 20%" />
                <col span="1" style="width: 35%" />
                <col span="1" style="width: 25%" />
                <col span="1" style="width: 10%" />
            </ng-template>

            <ng-template pTemplate="caption">
                <div class="flex">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input
                            pInputText
                            type="text"
                            (input)="filtrar($event)"
                            placeholder="Filtrar"
                        />
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th class="header-table">Id</th>
                    <th class="header-table">Nombre</th>
                    <th class="header-table">Enunciado</th>
                    <th class="header-table">Etiquetas</th>
                    <th class="header-table"></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-problema>

                <tr >
                    <td>
                        <span class="p-column-title">Id:</span>
                        {{ problema.idProblema }}
                    </td>
                    <td>
                        <span class="p-column-title">Nombre:</span>
                        {{ problema.nombre }}
                    </td>
                    <td>
                        <read-more [text]="problema.enunciado" [maxLength]="50">
                        </read-more>
                    </td>
                    <td>
                        <span class="p-column-title">Etiquetas:</span>
                        <div class="flex flex-row flex-wrap">

                            <p-badge  class="m-1 flex align-items-center justify-content-center" *ngFor="let e of problema.etiquetas" [value]="e.etiqueta"></p-badge>
                        </div>

                    </td>

                    <td class="text-right">
                        <button
                            pButton
                            type="button"
                            [routerLink]="[
                                '/crear-problema',
                                problema.idProblema
                            ]"
                            class="p-button-primary p-button-outlined p-corner-all"
                            icon="pi pi-user-edit"
                        ></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
