
<p-panel [header]="problemaActual.nombre">
   
   <div class="p-grid">
      
      <div class="p-col-6">
         <b>Enunciado:</b>{{problemaActual.enunciado}}
         <br>
         <b> Parametros: </b>{{parametros}}
         <br>
         Seleccione la respuesta correcta:
         <br>
            <div class="p-grid">
               <div *ngFor="let r of respuestas;let i=index" class="p-col-5 p-field-radiobutton ">
                  <p-radioButton [label]="r" name="respuesta" [value]="r" [(ngModel)]="respuestaSeleccionda" inpudIt="r" [inputId]="r"></p-radioButton>
               </div>
            </div>

        <button pButton pRipple  type="button" label="Enviar Respuesta"  class="ui-button-raised ui-button-success mt-4"></button>

      </div>
      <div class="p-col-6">
         <div  *ngIf="problemaActual" >
            <div *ngIf="problemaActual.archivo">
                    <img id="imgid" class="imgResponsive" src="{{environment.url}}/problemas/{{problemaActual.archivo}}"  >
            </div>
        </div>

      </div>
      

      <div class="p-col-4">
      </div>
   </div>
</p-panel>