
<p-overlayPanel #op [showCloseIcon]="true" [dismissable]="true">
    <ng-template pTemplate>
		<p-table [value]="torneo.torneosUsuarios" [responsive]="true" [style]="{width: '60vw'}"  [paginator]="true" [rows]="3">
			<ng-template pTemplate="header">
				<tr>
					<th class="header-table">Posición</th>
					<th class="header-table">Institución</th>
					<th class="header-table">Equipo</th>
					<th class="header-table">Puntos</th>
					<th class="header-table">Penalidad</th>
					<th class="header-table">Tiempo</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-torneoUsuario let-i="rowIndex">
				<div class="tabla-responsiva"><br /></div>
				<tr class="shadow">
					<td>
						<span class="ui-column-title">Posicion:</span>
						{{ i + 1 }}
					</td>
					<td>
						<span class="ui-column-title">Institucion:</span>
						{{ torneoUsuario.usuario.institucion }}
					</td>
					<td>
						<span class="ui-column-title">Nombre usuario:</span>
						{{ torneoUsuario.usuario.nombreUsuario }}
					</td>
					<td class="ui-column-title">
						<span class="ui-column-title">Puntos:</span>
						{{ torneoUsuario.puntos }}
					</td>
					<td class="ui-column-title">
						<span class="ui-column-title">Penalidad:</span>
						{{ torneoUsuario.penalidad }}
					</td>
					<td *ngIf="torneoUsuario.tiempo != 0" class="ui-column-title">
						<span  class="ui-column-title">Tiempo:</span>
						{{ torneoUsuario.tiempo | date:'short'}} 
					</td>

					<td *ngIf="torneoUsuario.tiempo == 0" class="ui-column-title">
						<span  class="ui-column-title">Tiempo:</span>
						0
					</td>

				</tr>
			</ng-template>
		</p-table>
    </ng-template>
</p-overlayPanel>



<div *ngIf="tiempoFinalizacion >= 0" class="">
    <app-reloj etiqueta="El torneo finaliza en" (tiempoCero)="finalizaTorneo()" [tiempo]="tiempoFinalizacion"></app-reloj>
</div>

<div *ngIf="penalidad > 0" >
	<app-reloj etiqueta="Debe esperar" (tiempoCero)="tiempoCero()" [tiempo]="penalidad"></app-reloj>
</div>
<i class="pi pi-search" (mouseenter)="verPosicion($event)" style="font-size:24px">Posicion</i>

<p-panel *ngIf="torneo" [header]="torneo.nombre">

	<div class="p-grid">
		<div class="p-col-12">
				<p-dropdown (onChange)="cambioProblema()" [options]="itemDropdown" [(ngModel)]="problemaActual" placeholder="Seleccionar problema" optionLabel="label" [showClear]="true"></p-dropdown>
		</div>
		<div *ngIf="!loading&&problemaActual" class="p-col-6">
			<b>Enunciado:</b>
			<div [innerHTML]="problemaActual.problema.enunciado"></div>
			<br>
			<b> Parametros: </b>{{parametros}}
			<br>
			Seleccione la respuesta correcta:
			<br>
			<div class="p-grid">
				<div *ngFor="let r of respuestas;let i=index" class="p-col-5 p-field-radiobutton ">
					<p-radioButton [label]="r" name="respuesta" [value]="r" [(ngModel)]="respuestaSeleccionda"
						inpudIt="r" [inputId]="r"></p-radioButton>
				</div>
			</div>

			<button pButton (click)="submit()" pRipple [disabled]="bloquear" type="button" label="Enviar Respuesta"
				class="ui-button-raised ui-button-success mt-4"></button>

		</div>
		<div  *ngIf="!loading&&problemaActual" class="p-col-6">
			<div *ngIf="problemaActual">
				<div *ngIf="problemaActual.problema.archivo">
					<img id="imgid" class="imgResponsive"
						src="{{environment.url}}/problemas/{{problemaActual.problema.archivo}}">
				</div>
			</div>

		</div>

	</div>
</p-panel>