<p-panel styleClass="shadow-8" header="Nuevo Problema">
    <form
        (keydown.enter)="onChangeEtiquetas($event)"
        [formGroup]="problemaForm"
        (ngSubmit)="onSubmit()"
    >
        <p-tabView>
            <p-tabPanel header="Datos problema">
                <div class="grid nested-grid">
                    <div class="col-12 lg:col-6">
                        <div class="grid">
                            <div class="field col-12">
                                <label for="nombre" class="block"
                                    >Nombre:</label
                                >
                                <input
                                    pInputText
                                    class="w-full"
                                    type="text"
                                    placeholder="nombre del torneo"
                                    formControlName="nombre"
                                />
                                <small
                                    *ngIf="
                                        !problemaForm.controls['nombre']
                                            .valid &&
                                        problemaForm.controls['nombre'].dirty
                                    "
                                    id="nombre-error"
                                    class="p-error block"
                                    >El nombre del problema es requerido</small
                                >
                            </div>
                        </div>

                        <div class="grid">
                            <div class="col-12 md:col-6">
                                <div class="field">
                                    <label for="tiempoEjecucion" class="block"
                                        >Tiempo maximo(ms):</label
                                    >
                                    <input
                                        pInputText
                                        class="w-full"
                                        type="text"
                                        placeholder="30000"
                                        formControlName="tiempoEjecucion"
                                    />
                                    <small
                                        *ngIf="
                                            !problemaForm.controls[
                                                'tiempoEjecucion'
                                            ].valid &&
                                            problemaForm.controls[
                                                'tiempoEjecucion'
                                            ].dirty
                                        "
                                        id="lenguaje-error"
                                        class="p-error block"
                                        >El tiempo de ejecucion es
                                        requerido</small
                                    >
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="field">
                                    <label for="complejidad" class="block"
                                        >complejidad</label
                                    >
                                    <p-dropdown
                                        [options]="complejidades"
                                        formControlName="complejidad"
                                    >
                                    </p-dropdown>
                                    <small
                                        *ngIf="
                                            !problemaForm.controls[
                                                'complejidad'
                                            ].valid &&
                                            problemaForm.controls['complejidad']
                                                .dirty
                                        "
                                        id="complejidad-error"
                                        class="p-error block"
                                        >La complejidad es requerida</small
                                    >
                                </div>
                            </div>
                        </div>

                        <div class="grid">
                            <div class="field col-12">
                                <label for="etiquetas" class="block"
                                    >Etiquetas:</label
                                >
                                <p-multiSelect
                                    #ms
                                    class=""
                                    name="ms"
                                    (onChange)="onChangeEtiquetas($event)"
                                    [options]="etiquetasOpt"
                                    formControlName="etiquetas"
                                    display="chip"
                                >
                                    <ng-template let-etiqueta pTemplate="item">
                                        <div
                                            style="
                                                font-size: 14px;
                                                float: right;
                                                margin-top: 4px;
                                            "
                                        >
                                            {{ etiqueta.label }}
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </div>
                        </div>

                        <div class="grid">
                            <div class="col">
                                <div class="field">
                                    <label for="archivo" class="block"
                                        >Imagen</label
                                    >
                                    <p-fileUpload
                                        #fileUpload
                                        [auto]="true"
                                        formControlName="file"
                                        chooseLabel="Buscar"
                                        [customUpload]="true"
                                        (uploadHandler)="myUploader($event)"
                                    >
                                    </p-fileUpload>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 lg:col-6">
                        <div class="grid">
                            <div class="col-12">
                                <p-message
                                    severity="error"
                                    text="El enunciado es obligatorio"
                                    *ngIf="
                                        !problemaForm.controls['enunciado']
                                            .valid &&
                                        problemaForm.controls['enunciado'].dirty
                                    "
                                >
                                </p-message>
                            </div>
                        </div>
                        <div class="col-12">
                            <span><b>Enunciado:</b></span>
                            <p-editor
                                styleClass="bg-primary-reverse"
                                formControlName="enunciado"
                                [style]="{ height: '320' }"
                            ></p-editor>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Resoluciones">
                <app-resoluciones
                    [soluciones]="soluciones"
                    (solucionesEmiter)="agregarSoluciones($event)"
                >
                </app-resoluciones>
            </p-tabPanel>
            <div class="grid">
                <div class="col">
                    <button
                        pButton
                        type="submit"
                        label="Submit"
                        [disabled]="!problemaForm.valid || loading"
                    >
                        <i
                            *ngIf="loading"
                            class="pi pi-spin pi-spinner"
                            style="font-size: 3em"
                        ></i>
                    </button>
                </div>
            </div>
        </p-tabView>
    </form>
</p-panel>
