


::ng-deep .p-editor-container .p-editor-toolbar {
    background:var(--surface-100);
}
::ng-deep .p-fileupload .p-fileupload-buttonbar{
    background:var(--surface);
}

:host ::ng-deep .p-multiselect {
    display: flex;
    flex-wrap: wrap;
}
